{% load static %}
<!DOCTYPE html>

<head>
    <style>
        .xyz{
          margin-bottom: 0px;

          background-size: cover;
          background-repeat: no-repeat;
        }
        body{
          background-image: url(https://wallpaperaccess.com/full/697539.jpg);
        }
      </style>
      
</head>


<body>
  {% include "blood/navbar.html" %}
<br>
<section id="section-jumbotron">

      
 


  <div class="jumbotron" style="background-image: url(https://wallpaperaccess.com/full/697539.jpg);">

    <iframe width="800" height="500" style="transform: translate(-50%, -50%); position: absolute; top: 50%; left: 50%;"
src="https://www.youtube.com/embed/ezafVzfJw60?autoplay=1&controls=0&loop=1&mute=0">
</iframe>
    
  </div>
</section><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
  {% include "blood/footer.html" %}


</body>

</html>
